.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    height: 4em;
    background-color: #e0e1e6;
    color: #000;
    flex: 1;
    outline: 1px solid #888;
    cursor: pointer;

}

.button-wrapper:hover {
    background-color: #fff;
    opacity: 0.4;
}

.operator {
    background-color: #fe9241;
    color: #fff;
}