.App {
  display: flex;
  justify-content: center;

  height: 100vh;
  width: 100%;
  background: rgb(169, 164, 185);
  background: linear-gradient(90deg, rgba(169, 164, 185, 0.5830707282913166) 0%, rgba(147, 180, 173, 0.30575980392156865) 35%, rgba(0, 212, 255, 1) 100%);
}

.calc-wrapper {
  width: 400px;
  height: 600px;
}

.row {
  display: flex;
  width: 100%;
}